name: 02 - Workflow Events
on:
  push:
  pull_request:
  schedule:
    - cron: "*/5 0 * * 0" # Every 5 minutes
  workflow_dispatch: # Manual trigger from UI

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: |
          echo "Current Trigger is: ${{ github.event_name }}"
