name: 05 - 1 - Event Filters and Activity Types
on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - run: echo "This job runs only for opened and synchronize pull request events on the main branch."
